// Typography
$sans-font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif: Georgia, Times, 'Times New Roman', serif !default;
$futura-font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
$thin-text: 100;
$light-text: 300;
$medium-text: 500;
$strong-text: 700;
$heavy-text: 900;

// Colour scheme
$whiteish: #fdfefe;
$light-grey: #cdcfd0;
$yellow: #fdc61d;
$orange: #ffa500;
$red: #e57373;
$teal: #45afb6;
$purple: #9575cd;
$blue: #3399CC;
$navy: #222f35;
$dark-navy: #192529;
$light-black: #222;
